body {
    font-family: 'Metal Mania', cursive;
    font-size: large;
    text-align: center;
    background-image: url("assets/back of card/lightbackgroundmst1.avif");
}
form {
    margin: 20px auto;
    max-width: 300px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-color: #ff9900;
}
input[type="submit"] {
    background-color: #ff9900;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 20px auto;
}
.player-name, .cpu-name{
    background-color: #f0f0f0;
    padding: 10px;
    border: 2px solid #ff9900;
    flex: 1;
}
.rules{
    text-align: center;
    list-style-position: inside;
    background-color: #f0f0f0;
    border: 2px solid #ff9900;
    padding: 5px;
}
.deal-container {
    box-shadow: 2.5px 2.5px;
    display: inline-block !important; 
    padding: 5px !important;
    background-color: #ff9900;
}
.deal-container p {
    display: inline-block !important;
    margin: 0 !important; 
}
.deal-container img {
    vertical-align: middle !important;
}
.score{
font-size: 20px;
}
#resultMessage{
    font-size: 32px;
    animation: flash 1s infinite;
}
@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#resetButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-color: #ff9900;
    color: black;
}
