body {
    font-family: Arial, sans-serif;
    text-align: center;
}
form {
    margin: 20px auto;
    max-width: 300px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #ff9900;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 20px auto;
}
.player-name, .cpu-name{
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    flex: 1;
}
.rules{
    text-align: center;
    list-style-position: inside;
}
